<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dessert.user">

	<!--查询-->
	<select id="getUser" parameterType="hashmap" resultType="map">
		SELECT
		U.USERID	   userid,
		U.USERNO	   userno,
		U.USERNAME	   username,
		U.LOGINNAME	   loginname,
		U.EMAIL		   email,
		U.USERPWD	   userpwd,
		U.SEX		   sex,
		U.TEL		   tel,
		U.BIRTHDAY	   birthday,
		U.STATUS	   status,
		date_format(U.CREATEDATE,'%Y-%m-%d %H:%i:%s') "createdate",
		date_format(U.UPDATE,'%Y-%m-%d %H:%i:%s') "update",
		U.IP		   ip
		FROM SYSTEM_USER  U
		<where>
			<if test="userid!=null and userid!=''">
				AND U.USERID =#{userid}
			</if>
			<if test="userno!=null and userno!=''">
				AND U.USERNO =#{userno}
			</if>
			<if test="username!=null and username!=''">
				AND U.USERNAME =#{username}
			</if>
			<if test="loginname!=null and loginname!=''">
				AND U.LOGINNAME =#{loginname}
			</if>
			<if test="email!=null and email!=''">
				AND U.EMAIL =#{email}
			</if>
		</where>
		ORDER BY U.CREATEDATE DESC
	</select>

	<!--添加-->
	<insert id="adduser" parameterType="hashmap">
		INSERT INTO SYSTEM_USER
		(
			USERID     ,
			USERNAME   ,
			LOGINNAME  ,
			EMAIL      ,
			USERPWD    ,
			SEX        ,
			STATUS     ,
			CREATEDATE ,
			IP         ,
			MAC

		)
		VALUES
		(
			#{userid},
			#{username},
			#{loginname},
			#{email},
			#{userpwd},
			#{sex},
			#{status},
			now(),
			#{ip},
			#{mac}
		)
	</insert>


	<!-- 更新	-->
	<update id="updateuser" parameterType="hashmap">
		UPDATE
		SYSTEM_USER U
		SET
		<if test="userno!=null and userno!=''">
			U.USERNO=#{userno},
		</if>
		<if test="username!=null and username!=''">
			U.USERNAME=#{username},
		</if>
		<if test="loginname!=null and loginname!=''">
			U.LOGINNAME=#{loginname},
		</if>
		<if test="email!=null and email!=''">
			U.EMAIL=#{email},
		</if>
		<if test="userpwd!=null and userpwd!=''">
			U.USERPWD=#{userpwd},
		</if>
		<if test="sex!=null and sex!=''">
			U.SEX=#{sex},
		</if>
		<if test="tel!=null and tel!=''">
			U.TEL=#{tel},
		</if>
		<if test="birthday!=null and birthday!=''">
			U.BIRTHDAY=#{birthday},
		</if>
		<if test="status!=null and status!=''">
			U.STATUS=#{status},
		</if>
		<if test="ip!=null and ip!=''">
			U.IP=#{ip},
		</if>
		<if test="mac!=null and mac!=''">
			U.MAC=#{mac},
		</if>
		<if test="state!=null and state!=''">
			U.STATE=#{state},
		</if>
		<if test="acticode!=null and acticode=='null'">
			U.ACTICODE=null,
		</if>
		<if test="activationdate!=null and activationdate=='null'">
			U.ACTIVATIONDATE=null,
		</if>
			U.UPDATE=now()
		WHERE
		U.USERID =#{userid}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="hashmap" >
		DELETE
		 FROM SYSTEM_USER
		WHERE USERID= #{userid}
	</delete>


	<!--查询用户角色-->
	<select id="getUserRoles" parameterType="hashmap" resultType="map">
		SELECT
			UR.USERID userid,
			UR.ROLEID roleid,
			R.ROLENAME rolename

		FROM SYSTEM_USER_ROLE  UR
		LEFT JOIN SYSTEM_ROLE R ON R.ROLEID=UR.ROLEID
		WHERE UR.USERID=#{userid}
		ORDER BY UR.CREATEDATE ASC
	</select>

	<!--查询用户角色-->
	<select id="getUserResources" parameterType="hashmap" resultType="map">
		SELECT
		DISTINCT  RR.MENUID menuid
		FROM system_role_res RR
		WHERE ROLEID in( SELECT ROLEID FROM system_role WHERE ROLEID in( SELECT ROLEID from system_user_role where userid=#{userid}))
		ORDER BY
		(SELECT MENUORDER FROM system_resources R1 WHERE R1.MENUID=(SELECT PARENTID FROM system_resources R2 WHERE R2.MENUID=(SELECT R.PARENTID FROM system_resources R WHERE R.MENUID=RR.MENUID ))) ASC,
		(SELECT MENUORDER FROM system_resources R3 WHERE R3.MENUID=(SELECT R4.PARENTID FROM system_resources R4 WHERE R4.MENUID=RR.MENUID)) ASC,
		(SELECT MENUORDER FROM system_resources R5 WHERE R5.MENUID=RR.MENUID) ASC
	</select>

	
</mapper>