<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "http://mybatis.org/dtd/mybatis-3-mapper.dtd"  "-//mybatis.org//DTD Mapper 3.0//EN">
<mapper namespace="com.dessert.user">

	<!--查询-->
	<select id="getUser" parameterType="map" resultType="map">
		SELECT
		U.USERID	   userid,
		U.USERNO	   userno,
		U.USERNAME	   username,
		U.LOGINNAME	   loginname,
		U.EMAIL		   email,
		U.USERPWD	   userpwd,
		U.SEX		   sex,
		U.TEL		   tel,
		U.BIRTHDAY	   birthday,
		U.STATUS	   status,
		U.CREATEDATE   createdate,
		U.UPDATE	   update,
		U.IP		   ip,
		FROM USER U
		<where>
			<if test="userid!=null and userid!=''">
				AND U.userid =#{userid}
			</if>
			<if test="userno!=null and userno!=''">
				AND U.userno =#{userno}
			</if>
			<if test="username!=null and username!=''">
				AND U.username =#{username}
			</if>
			<if test="loginname!=null and loginname!=''">
				AND U.loginname =#{loginname}
			</if>
		</where>
		ORDER BY U.createdate DESC
	</select>

	<!--添加-->
	<insert id="adduser" parameterType="hashmap">
		INSERT INTO USER
		(
			USERID     ,
			USERNO     ,
			USERNAME   ,
			LOGINNAME  ,
			USERPWD    ,
			SEX        ,
			STATUS     ,
			CREATEDATE ,
			IP         ,
			MAC

		)
		VALUES
		(
			#{userid},
			#{userno},
			#{username},
			#{loginname},
			#{userpwd},
			#{sex},
			#{status},
			now(),
			#{ip},
			#{mac}
		)
	</insert>


	<!-- 更新	-->
	<update id="updateuser" parameterType="hashmap">
		UPDATE
			USER U
		<if test="userno!=null and userno!=''">
			,U.userno=#{userno}
		</if>
		<if test="username!=null and username!=''">
			,U.username=#{username}
		</if>
		<if test="loginname!=null and loginname!=''">
			,U.loginname=#{loginname}
		</if>
		<if test="userpwd!=null and userpwd!=''">
			,U.userpwd=#{userpwd}
		</if>
		<if test="sex!=null and sex!=''">
			,U.sex=#{sex}
		</if>
		<if test="tel!=null and tel!=''">
			,U.tel=#{tel}
		</if>
		<if test="birthday!=null and birthday!=''">
			,U.birthday=#{birthday}
		</if>
		<if test="status!=null and status!=''">
			,U.status=#{status}
		</if>
		<if test="ip!=null and ip!=''">
			,U.ip=#{ip}
		</if>
		<if test="mac!=null and mac!=''">
			,U.mac=#{mac}
		</if>
			U.update=now()
		WHERE
		U.userid =#{userid}
	</update>
	
</mapper>