<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dessert.user">

	<!--查询-->
	<select id="getUser" parameterType="hashmap" resultType="map">
		SELECT
		U.USERID	   userid,
		U.USERNO	   userno,
		U.USERNAME	   username,
		U.LOGINNAME	   loginname,
		U.EMAIL		   email,
		U.USERPWD	   userpwd,
		U.SEX		   sex,
		U.TEL		   tel,
		U.BIRTHDAY	   birthday,
		U.STATUS	   status,
		U.CREATEDATE   createdate,
		date_format(U.UPDATE,'%Y-%m-%d') "update",
		U.IP		   ip,
		U.STATE			state,
		U.ACTICODE		acticode,
		date_format(U.ACTIVATIONDATE,'%Y-%m-%d') "activationdate"
		FROM SYSTEM_USER  U
		<where>
			<if test="userid!=null and userid!=''">
				AND U.USERID =#{userid}
			</if>
			<if test="userno!=null and userno!=''">
				AND U.USERNO =#{userno}
			</if>
			<if test="username!=null and username!=''">
				AND U.USERNAME =#{username}
			</if>
			<if test="loginname!=null and loginname!=''">
				AND U.LOGINNAME =#{loginname}
			</if>
			<if test="email!=null and email!=''">
				AND U.EMAIL =#{email}
			</if>
		</where>
		ORDER BY U.CREATEDATE DESC
	</select>

	<!--添加-->
	<insert id="adduser" parameterType="hashmap">
		INSERT INTO SYSTEM_USER
		(
			USERID     ,
			USERNAME   ,
			LOGINNAME  ,
			EMAIL      ,
			USERPWD    ,
			SEX        ,
			STATUS     ,
			CREATEDATE ,
			IP         ,
			MAC			,
			STATE		,
			ACTICODE	,
			ACTIVATIONDATE

		)
		VALUES
		(
			#{userid},
			#{username},
			#{loginname},
			#{email},
			#{userpwd},
			#{sex},
			#{status},
			now(),
			#{ip},
			#{mac},
			#{state},
			#{acticode},
			#{activationdate}
		)
	</insert>


	<!-- 更新	-->
	<update id="updateuser" parameterType="hashmap">
		UPDATE
		SYSTEM_USER U
		SET
		<if test="userno!=null and userno!=''">
			U.USERNO=#{userno},
		</if>
		<if test="username!=null and username!=''">
			U.USERNAME=#{username},
		</if>
		<if test="loginname!=null and loginname!=''">
			U.LOGINNAME=#{loginname},
		</if>
		<if test="email!=null and email!=''">
			U.EMAIL=#{email},
		</if>
		<if test="userpwd!=null and userpwd!=''">
			U.USERPWD=#{userpwd},
		</if>
		<if test="sex!=null and sex!=''">
			U.SEX=#{sex},
		</if>
		<if test="tel!=null and tel!=''">
			U.TEL=#{tel},
		</if>
		<if test="birthday!=null and birthday!=''">
			U.BIRTHDAY=#{birthday},
		</if>
		<if test="status!=null and status!=''">
			U.STATUS=#{status},
		</if>
		<if test="ip!=null and ip!=''">
			U.IP=#{ip},
		</if>
		<if test="mac!=null and mac!=''">
			U.MAC=#{mac},
		</if>
		<if test="state!=null and state!=''">
			U.STATE=#{state},
		</if>
		<if test="acticode!=null and acticode=='null'">
			U.ACTICODE=null,
		</if>
		<if test="activationdate!=null and activationdate=='null'">
			U.ACTIVATIONDATE=null,
		</if>
			U.UPDATE=now()
		WHERE
		U.USERID =#{userid}
	</update>
	
</mapper>