<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dessert.resources">


    <select id="selectResources" resultType="hashmap" parameterType="map">
        select
        M.MENUID menuid,
        M.MENUNAME menuname,
        M.MENUTYPE menutype,
        M.MENUORDER menuorder,
        M.PARENTID parentid,
        M.MENULEVEL menulevel,
        M.ACTION action,
        M.STATUS status,
        M.CREATEDATE createdate,
        M.UPDATEDATE updatedate
        FROM SYSTEM_RESOURCES M
        <where>
            <if test="menuid!=null and menuid!=''">
                AND M.MENUID =#{menuid}
            </if>
            <if test="menuname!=null and menuname!=''">
                AND M.MENUNAME =#{menuname}
            </if>
            <if test="menutype!=null and menutype!=''">
                AND M.MENUTYPE =#{menutype}
            </if>
            <if test="menuorder!=null and menuorder!=''">
                AND M.MENUORDER =#{menuorder}
            </if>
            <if test="menulevel!=null and menulevel!=''">
                AND M.MENULEVEL =#{menulevel}
            </if>
            <if test="status!=null and status!=''">
                AND M.STATUS =#{status}
            </if>
            <if test="parentid!=null and parentid!=''">
                AND M.PARENTID=#{parentid}
            </if>
            <if test="supmenuid!=null and supmenuid!=''">
                AND M.MENUID=#{supmenuid}
            </if>
            <if test="isLoadAllMenu!=null and isLoadAllMenu!=''">
                AND M.ACTION IS NOT NULL
            </if>

        </where>
        ORDER BY M.MENUORDER ASC
    </select>


    <select id="selectResourcesByrole" resultType="hashmap" parameterType="map">
        select
        M.MENUID  menuid,
        M.MENUNAME menuname,
        M.MENUTYPE menutype,
        M.MENUORDER menuorder,
        M.PARENTID parentid,
        M.MENULEVEL menulevel,
        M.STATUS status,
        (CASE  WHEN menulevel='1' THEN 'true'
        WHEN menulevel='2' THEN 'true' END) open
        FROM SYSTEM_RESOURCES M
        <where>
            <if test="menuid!=null and menuid!=''">
                AND M.MENUID =#{menuid}
            </if>
        </where>
        ORDER BY M.MENUORDER ASC
    </select>




    <insert id="insertRole" parameterType="map">
        INSERT INTO SYSTEM_RESOURCES
        (
           MENUID,
           MENUNAME,
           MENUTYPE,
           MENUORDER,
           PARENTID,
           MENULEVEL,
           ACTION,
           STATUS,
           CREATEDATE
        )VALUES
        (
           #{menuid},
           #{menuname},
           #{menutype},
           #{menuorder},
           #{parentid},
           #{menulevel},
           #{action},
           #{status},
           now()
        )
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="map">
        update SYSTEM_RESOURCES
        <set>
            <if test="menuname != null">
                MENUNAME = #{menuname},
            </if>
            <if test="menutype != null">
                MENUTYPE = #{menutype},
            </if>
            <if test="menuorder != null">
                MENUORDER = #{menuorder},
            </if>
            <if test="parentid != null">
                PARENTID = #{parentid},
            </if>
            <if test="menulevel != null">
                MENULEVEL = #{menulevel},
            </if>
            <if test="action != null">
                ACTION = #{action},
            </if>
            <if test="status != null">
                STATUS = #{status},
            </if>
            UPDATEDATE = now()
        </set>
        where MENUID = #{menuid}
    </update>


    <!-- 修改菜单序号 -->
    <update id="updateMenuOrder" parameterType="hashmap">
        UPDATE  SYSTEM_RESOURCES A
        SET
        A.MENUORDER=#{menuorder}
        WHERE
        <if test="menuid!=null and menuid!=''">
            A.MENUID=#{menuid}
        </if>
        <if test="menuid==null or menuid==''">
            A.MENUID='-1'
        </if>
    </update>


    <delete id="deleteByPrimaryKey" parameterType="map">
        delete from SYSTEM_RESOURCES
        where MENUID = #{menuid}
    </delete>

    <delete id="deleteRoleMenu" parameterType="hashmap">
        DELETE
        SYSTEM_ROLE_RES M
        WHERE
        M.MENUID =#{menuid}
    </delete>

</mapper>