<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dessert.role" >


  <select id="selectRoles" parameterType="map" resultType="map" >
    select
      R.ROLEID             roleid,
      R.ROLENAME           rolename,
      R.ROLEDESCRIPTION    roledescription,
      R.ROLETYPE           roletype,
      R.STATUS             status,
      date_format(R.CREATEDATE,'%Y-%m-%d') createdate,
      date_format(R.UPDATEDATE,'%Y-%m-%d') updatedate
    FROM system_role R
    <where>
      <if test="roleid!=null and roleid!=''">
        AND R.ROLEID =#{roleid}
      </if>
      <if test="rolename!=null and rolename!=''">
        AND R.ROLENAME =#{rolename}
      </if>
      <if test="roletype!=null and roletype!=''">
        AND R.ROLETYPE =#{roletype}
      </if>
      <if test="status!=null and status!=''">
        AND R.STATUS =#{status}
      </if>
    </where>
    ORDER BY R.CREATEDATE

  </select>


  <delete id="deleteByPrimaryKey" parameterType="hashmap" >
    delete from system_role
    where ROLEID = #{roleid}
  </delete>

  <insert id="insert" parameterType="hashmap" >
    insert into system_role
    (
      ROLEID,
      ROLENAME,
    <if test="roledescription != null" >
      ROLEDESCRIPTION,
    </if>
      ROLETYPE,
      STATUS,
      CREATEDATE
    )
    values
    (
      #{roleid},
      #{rolename},
    <if test="roledescription != null" >
      #{roledescription},
    </if>
      #{roletype},
      #{status},
      now()
    )
  </insert>


  <update id="update" parameterType="hashmap" >
    update system_role
    <set >
      <if test="rolename != null" >
        ROLENAME = #{rolename},
      </if>
      <if test="roledescription != null" >
        ROLEDESCRIPTION = #{roledescription},
      </if>
      <if test="roletype != null" >
        ROLETYPE = #{roletype},
      </if>
      <if test="status != null" >
        STATUS = #{status},
      </if>
        UPDATEDATE = now()
    </set>
    where ROLEID = #{roleid}
  </update>

</mapper>