<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dessert.system_role_resMapper" >
  <resultMap id="BaseResultMap" type="map" >
    <id column="RMLINKID" property="rmlinkid" jdbcType="INTEGER" />
    <result column="MENUID" property="menuid" jdbcType="INTEGER" />
    <result column="ROLEID" property="roleid" jdbcType="INTEGER" />
    <result column="CREATEDATE" property="createdate" jdbcType="TIMESTAMP" />
  </resultMap>


  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select
      RMLINKID        rmlinkid,
      MENUID          menuid,
      ROLEID          roleid
    from system_role_res
    <where>
      <if test="rmlinkid!=null and rmlinkid!=''">
        AND RMLINKID =#{rmlinkid}
      </if>
      <if test="menuid!=null and menuid!=''">
        AND MENUID =#{menuid}
      </if>
      <if test="roleid!=null and roleid!=''">
        AND ROLEID =#{roleid}
      </if>
    </where>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from system_role_res
    <where>
      <if test="rmlinkid!=null and rmlinkid!=''">
        AND RMLINKID =#{rmlinkid}
      </if>
      <if test="menuid!=null and menuid!=''">
        AND MENUID =#{menuid}
      </if>
      <if test="roleid!=null and roleid!=''">
        AND ROLEID =#{roleid}
      </if>
    </where>
  </delete>

  <insert id="insert" parameterType="map" >
    insert into system_role_res
    (
      RMLINKID,
      MENUID,
      ROLEID,
      CREATEDATE
    )
    values
    (
      #{rmlinkid},
      #{menuid},
      #{roleid},
      now()
    )
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="map" >
    update system_role_res
    <set >
      <if test="menuid != null" >
        MENUID = #{menuid},
      </if>
      <if test="roleid != null" >
        ROLEID = #{roleid}
      </if>
    </set>
    where RMLINKID = #{rmlinkid}
  </update>

</mapper>